 /* * {
  all: unset;
  display: revert;
}  */


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button{
    border: none;
    background-color: transparent; 
    cursor: pointer;
  }


:root {
  --grey-100:#F5F5F6;
  --grey-200:#EAEBED;
  --grey-300:#D5D6DC;
  --grey-500:#ACADB9;
  --grey-600:#7B7C88;
  --black:#232134;
  --blue-100:#DEECFF;
  --blue-200:#C9E0FF;
  --blue-300:#B7D6FF;
  --blue-400:#92C1FF;
  --blue-500:#5E96FC;
  --blue-600:#3B7CD3;
}

body{
  font-family: 'Inter';
  background-color: var(--grey-100)
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');